/*
2017.6.16后半夜想的方案
@vsuiInputBoxWidth:320px - 12*2;
@vsuiInputBoxMargin:18px;
@vsuiInputFontSize:16px;
@vsuiInputHeight:@vsuiInputBoxMargin+@vsuiInputFontSize;
@vsuiInputNameWidth:90px;

@vsuiInputTextPaddingBottom:5px;

@vsuiInputNamePaddingTop:@vsuiInputHeight - @vsuiInputFontSize - @vsuiInputTextPaddingBottom;
@vsuiInputTextValuePaddingTop:@vsuiInputNamePaddingTop - 1;
@vsuiInputBoxMarginTop:6px;//@vsuiInputBoxMargin - @vsuiInputTextValuePaddingTop;



}*/
@import url("../font-awesome/css/font-awesome.min.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
.vsui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.vsui-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
}
.vsui-btn > input {
  display: none;
}
.vsui-btn_inline {
  display: inline-block;
}
.vsui-btn_white {
  color: #666666;
  background-color: #fdfdfd;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
.vsui-btn_white:active {
  background-color: #E3E3E3;
}
.vsui-btn_white:active:after {
  border: 2px solid #D5D5D5;
}
.vsui-btn_white:after {
  border: 2px solid #ededed;
}
.vsui-btn_blue {
  color: #FFFFFF;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='90' height='28' rx='5' ry='5' style='fill:#1195d8'/><rect x='0' y='2' width='90' height='26' rx='5' ry='5' style='fill:#038fd6'/></g></svg>") no-repeat;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.vsui-btn_blue:active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='90' height='28' rx='5' ry='5' style='fill:#2986C2'/><rect x='0' y='2' width='90' height='26' rx='5' ry='5' style='fill:#1D80C0'/></g></svg>") no-repeat;
}
.vsui-btn_blue:active:after {
  border: 2px solid #265CA2;
}
.vsui-btn_blue:after {
  border: 2px solid #0d67b4;
}
.vsui-btn {
  height: 28px;
  width: 90px;
  display: block;
  line-height: 28px;
  font-size: 18px;
  border-radius: 5px;
}
.vsui-btn:after {
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.vsui-btn_mini {
  height: 18px;
  width: 70px;
  display: inline-block;
  line-height: 18px;
  font-size: 14px;
  border-radius: 3px;
}
.vsui-btn_mini:after {
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 6px;
}
.vsui-btn_header {
  height: 28px;
  width: 40px;
  display: block;
  line-height: 28px;
  font-size: 18px;
  border-radius: 5px;
  color: #FFFFFF;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='40' height='28' rx='5' ry='5' style='fill:#1195d8'/><rect x='0' y='2' width='40' height='26' rx='5' ry='5' style='fill:#038fd6'/></g></svg>") no-repeat;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.vsui-btn_header:active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='40' height='28' rx='5' ry='5' style='fill:#2986C2'/><rect x='0' y='2' width='40' height='26' rx='5' ry='5' style='fill:#1D80C0'/></g></svg>") no-repeat;
}
.vsui-btn_header:active:after {
  border: 2px solid #265CA2;
}
.vsui-btn_header:after {
  border: 2px solid #0d67b4;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.vsui-header {
  height: 58px;
  width: 350px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding-top: 5px;
  background-color: #1195D8;
  position: fixed;
  z-index: 1000;
  border-radius: 12px 12px 0 0;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
.vsui-header:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border: 2px solid #0d67b4;
  border-radius: 24px 24px 0 0;
}
.vsui-header .vsui-header_title {
  position: absolute;
  left: 24px;
  padding: 17px 0;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.vsui-header .vsui-header_btn {
  position: absolute;
  right: 24px;
  padding: 15px 0;
}
.vsui-footer {
  height: 69px;
  width: 350px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #F7F5F5;
  position: fixed;
  z-index: 500;
  bottom: 0;
  -moz-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  border: 0 1px solid #ededed;
}
.vsui-footer .vsui-footer-btn-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}
.vsui-content {
  top: 75px;
  bottom: 69px;
  width: 350px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #F7F5F5;
  position: fixed;
  z-index: 100;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
  border: 0 1px solid #ededed;
}
.vsui-panel {
  position: relative;
  padding: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #666666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vsui-panel:after {
  content: " ";
  position: absolute;
  left: 20px;
  bottom: 0;
  right: 20px;
  height: 1px;
  border-bottom: 1px solid #ededed;
  color: #ededed;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vsui-panel .vsui-panel__hd {
  height: 80px;
  width: 80px;
  line-height: 80px;
  margin-right: 13px;
  text-align: center;
  position: relative;
}
.vsui-panel .vsui-panel__hd:before {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border: 2px solid #ededed;
}
.vsui-panel .vsui-panel__thumb {
  height: 80px;
  width: 80px;
  line-height: 80px;
}
.vsui-panel .vsui-panel__hd-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.vsui-panel .vsui-panel__hd-footer span {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  vertical-align: -30px;
}
.vsui-panel .vsui-panel__bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.vsui-panel .vsui-panel__bd .vsui-panel__date {
  margin: 10px auto;
  font-size: 14px;
}
.vsui-panel .vsui-panel__bd .vsui-panel__title {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  height: 32px;
}
.vsui-panel .vsui-panel__bd .vsui-panel__row {
  margin: 10px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.vsui-panel .vsui-panel__bd .vsui-panel__row .vsui-panel__desc {
  font-size: 14px;
}
.vsui-panel .vsui-panel__bd div:first-child {
  margin-top: 0;
}
.vsui-panel .vsui-panel__bd div:last-child {
  margin-bottom: 0;
}
a.vsui-panel:active {
  color: #FFFFFF;
  background-color: #1195D8;
}
.vsui-panel-active {
  color: #FFFFFF;
  background-color: #1195D8;
}
.vsui-panel-mini .vsui-panel__hd,
.vsui-panel-mini .vsui-panel__thumb {
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.vsui-panel-mini .vsui-panel__bd .vsui-panel__row {
  margin: 14px auto;
}
.vsui-grids .vsui-grid {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  height: 184px;
  width: 50%;
  display: block;
  float: left;
  color: #666666;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.vsui-grids .vsui-grid:nth-child(odd) {
  padding-left: 14px;
  padding-right: 4px;
}
.vsui-grids .vsui-grid:nth-child(odd):before {
  content: " ";
  position: absolute;
  top: 4px;
  bottom: 4px;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ededed;
  left: 14px;
  right: 7px;
}
.vsui-grids .vsui-grid:nth-child(even) {
  padding-left: 7px;
  padding-right: 14px;
}
.vsui-grids .vsui-grid:nth-child(even):before {
  content: " ";
  position: absolute;
  top: 4px;
  bottom: 4px;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ededed;
  left: 7px;
  right: 14px;
}
.vsui-grids .vsui-grid:active:before {
  background-color: #E3E3E3;
  border: 1px solid #D5D5D5;
}
.vsui-grids .vsui-grid .vsui-grid__hd {
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
.vsui-grids .vsui-grid .vsui-grid__hd:before {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border: 2px solid #ededed;
}
.vsui-grids .vsui-grid .vsui-grid__thumb {
  height: 80px;
  width: 80px;
  line-height: 80px;
}
.vsui-grids .vsui-grid .vsui-grid__bd {
  position: relative;
}
.vsui-grids .vsui-grid .vsui-grid__bd .vsui-grid__title {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  height: 28px;
}
.vsui-grids .vsui-grid .vsui-grid__bd .vsui-grid__desc {
  margin: 10px auto;
  font-size: 12px;
}
.vsui-grids .vsui-grid .vsui-grid__bd div:first-child {
  margin-top: 0;
}
.vsui-grids .vsui-grid .vsui-grid__bd div:last-child {
  margin-bottom: 0;
}
.vsui-radioPage {
  padding-top: 26px;
  width: 276px;
  margin: 0 auto;
}
.vsui-radioPage .vsui-radio {
  height: 35px;
  width: 120px;
  float: left;
  display: block;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  margin-bottom: 18px;
  color: #666666;
  background-color: #fdfdfd;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vsui-radioPage .vsui-radio.checked {
  color: #FFFFFF;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='120' height='35' rx='5' ry='5' style='fill:#1195d8'/><rect x='0' y='2' width='120' height='33' rx='5' ry='5' style='fill:#038fd6'/></g></svg>") no-repeat;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.vsui-radioPage .vsui-radio.checked:after {
  border: 2px solid #0d67b4;
}
.vsui-radioPage .vsui-radio input {
  display: none;
}
.vsui-radioPage .vsui-radio:nth-child(odd) {
  margin-right: 36px;
}
.vsui-radioPage .vsui-radio:after {
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #ededed;
}
.vsui-radioPage .vsui-radio-input {
  height: 35px;
  width: 276px;
  float: left;
  display: block;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  margin-bottom: 18px;
  color: #666666;
  background-color: #fdfdfd;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vsui-radioPage .vsui-radio-input input {
  width: 266px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  color: #666666;
  text-align: center;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.vsui-radioPage .vsui-radio-input:after {
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #ededed;
}
.vsui-radioPage .vsui-radio-input.checked {
  color: #FFFFFF;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g style='isolation:isolate'><rect x='0' y='0' width='276' height='35' rx='5' ry='5' style='fill:#1195d8'/><rect x='0' y='2' width='276' height='33' rx='5' ry='5' style='fill:#038fd6'/></g></svg>") no-repeat;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.vsui-radioPage .vsui-radio-input.checked:after {
  border: 2px solid #0d67b4;
}
.vsui-radioPage .vsui-radio-input.checked input {
  color: #FFFFFF;
  text-align: center;
}
.vsui-picker {
  position: fixed;
  top: 75px;
  height: 26px;
  width: 350px;
  overflow: hidden;
  z-index: 900;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.vsui-picker .vsui-btnPicker {
  top: 0;
  position: absolute;
  background-color: #1195D8;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
}
.vsui-picker .vsui-btnPicker .vsui-btn:first-child {
  margin: 0 auto 0 20px;
}
@media (max-width: 320px) {
  .vsui-picker .vsui-btnPicker .vsui-btn:first-child {
    margin: 0;
  }
}
.vsui-picker .vsui-btnPicker .vsui-btn:last-child {
  margin: 0 20px 0 auto;
}
@media (max-width: 320px) {
  .vsui-picker .vsui-btnPicker .vsui-btn:last-child {
    margin: 0;
  }
}
.vsui-picker .vsui-btnPicker:before {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #0d67b4;
}
.vsui-picker .vsui-datePicker {
  position: absolute;
  width: 100%;
  height: 223px;
  left: 0;
  top: 58px;
  background-color: #1195D8;
}
.vsui-picker .vsui-datePicker .vsui-picker__hd {
  padding: 11px;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  background-color: #ffffff;
  height: 102px;
  overflow: hidden;
  margin: 0 20px;
  padding: 9px 0;
  border-radius: 6px;
}
@media (max-width: 320px) {
  .vsui-picker .vsui-datePicker .vsui-picker__bd {
    margin: 0;
    border-radius: 0;
  }
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem {
  margin: 0 auto;
  display: flex;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group {
  position: relative;
  height: 100%;
  width: 133px;
  margin: 0 4px;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group.x4 {
  width: 55px;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group.x2 {
  width: 27px;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__mask {
  display: none;
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  z-index: 3;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-position: top, bottom;
  background-size: 100% 46px;
  background-repeat: no-repeat;
  transform: translateZ(0);
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__indicator {
  width: 100%;
  height: 26px;
  position: absolute;
  left: 0;
  top: 38px;
  z-index: 3;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__indicator:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #1195D8;
  color: #1195D8;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__indicator:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #1195D8;
  color: #1195D8;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__dateItem .vsui-picker__group .vsui-picker__content .vsui-picker__item {
  padding: 0;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #1195D8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}
.vsui-picker .vsui-datePicker .vsui-picker__bd .vsui-picker__middle {
  position: relative;
  height: 100%;
  margin: 42px auto;
  font-size: 18px;
  color: #1195D8;
  line-height: 18px;
}
.vsui-picker .vsui-datePicker .vsui-picker__fd {
  padding: 15px;
  text-align: center;
}
.vsui-picker .vsui-datePicker:before {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #0d67b4;
}
.vsui-picker .vsui-picker-tapGroup {
  bottom: 0;
  position: absolute;
  background-color: #F7F5F5;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: 26px;
  width: 100%;
}
.vsui-picker .vsui-picker-tapGroup .vsui-picker-tap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  padding: 7px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color: #1195D8;
  border-radius: 0 0 6px 6px;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  /*&:active,*/
}
.vsui-picker .vsui-picker-tapGroup .vsui-picker-tap:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #0d67b4;
  border-radius: 0 0 12px 12px;
}
.vsui-picker .vsui-picker-tapGroup .vsui-picker-tap.active {
  color: #666666;
  background-color: #fdfdfd;
}
.vsui-picker .vsui-picker-tapGroup .vsui-picker-tap.active:after {
  border-color: #ededed;
}
.vsui-mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
}
.vsui-mask.content {
  z-index: 800;
  top: 75px;
  right: 12px;
  left: 12px;
  bottom: 0;
}
.vsui-mask.fullScreen {
  z-index: 2000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.vsui-mask.vsui-animate-fade-in {
  animation: fadeIn ease .5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.vsui-mask.vsui-animate-fade-out {
  animation: fadeOut ease .5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*
2017.6.16后半夜想的方案
.vsui-inputBox{
    width: @vsuiInputBoxWidth;
    margin: @vsuiInputBoxMarginTop auto;
    .vsui-input-text{
        font-size: @vsuiInputFontSize;
        line-height: @vsuiInputFontSize;
        height: @vsuiInputHeight;
        color:@vsuiTextColor;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;


        .name{
            width:@vsuiInputNameWidth;
            text-align: end;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            padding: @vsuiInputNamePaddingTop 0 @vsuiInputTextPaddingBottom 0;
        }
        .value{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            text-align: center;
            border-width: 0;
            background: none;
            padding: @vsuiInputTextValuePaddingTop 0 @vsuiInputTextPaddingBottom 0;
            font-size: @vsuiInputFontSize;
            line-height: @vsuiInputFontSize;
            color:@vsuiTextColor;
            border-bottom: 1px solid @vsuiBoardColorSecond;

        }
    }
}*/
.vsui-inputBox {
  width: 296px;
  margin: 9px auto;
  /*.vsui-input-checkbox{
        input[type=checkbox]{
            display: none;
        }
        font-size: 16px;
        line-height: 16px;
        height: 16px;
        color: @vsuiTextColor;
        padding: 9px 0;
        text-align: end;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;

        &:before{
            font-family: FontAwesome;
            display: inline-block;
            letter-spacing: 10px;
            content: "\f096";

        }
        &:checked:before{
            content: "\f046";
        }



    }*/
}
.vsui-inputBox .vsui-input-text {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  color: #666666;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 9px 0;
}
.vsui-inputBox .vsui-input-text .name {
  width: 90px;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vsui-inputBox .vsui-input-text input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  border-width: 0;
  background: none;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  border-bottom: 1px solid #ededed;
}
.vsui-inputBox .vsui-input-textarea {
  font-size: 16px;
  line-height: 16px;
  height: 68px;
  color: #666666;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.vsui-inputBox .vsui-input-textarea .name {
  padding: 9px 0;
  width: 90px;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vsui-inputBox .vsui-input-textarea textarea {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  border-width: 0;
  background: none;
  vertical-align: 50px;
  font-size: 16px;
  line-height: 34px;
  top: -10px;
  height: 68px;
  resize: none;
  color: #666666;
}
.vsui-inputBox .vsui-input-textarea:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 90px;
  bottom: 0;
  right: 0;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  color: #ededed;
  transform-origin: 0 50px;
  transform: scaleY(0.5);
}
.vsui-inputBox .vsui-input-checkbox {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  color: #666666;
  padding: 9px 0;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vsui-inputBox input[type=checkbox] {
  display: none;
}
.vsui-inputBox input[type=checkbox] + .vsui-input-checkbox:before {
  width: 1.28571429em;
  text-align: center;
  font-family: FontAwesome;
  display: inline-block;
  letter-spacing: 10px;
  content: "\f096";
}
.vsui-inputBox input[type=checkbox]:checked + .vsui-input-checkbox:before {
  width: 1.28571429em;
  text-align: center;
  font-family: FontAwesome;
  display: inline-block;
  letter-spacing: 10px;
  content: "\f046";
}
