@vsuiFontEN:-apple-system-font,"Helvetica Neue";
@vsuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@vsuiFontSans:sans-serif;
@vsuiFontDefault:@vsuiFontEN,@vsuiFontSans;

@vsuiPadMargin:12px;

@vsuiHeaderZIndex:1000;
@vsuiContZIndex:0;
@vsuiFooterZIndex:1000;
