@import "../../base/fn";

.vsui-mask {
    position: fixed;
    background: @maskBackground;
    display: none;
    opacity: 0;
    &.content{
        z-index: @vsuiContMaskZIndex;
        top: @vsuiHeaderHeight+@vsuiHeaderPaddingTop+@vsuiHeaderMarginTop;
        right: @vsuiPadMargin;
        left: @vsuiPadMargin;
        bottom: 0;
    }
    &.fullScreen{
        z-index: @vsuiFullScreenMaskZIndex;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &.vsui-animate-fade-in {
        animation: fadeIn ease .5s forwards;
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

    }

    &.vsui-animate-fade-out {
        animation: fadeOut ease .5s forwards;

        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

    }
}
